In [ ]:
from utils.spark_session import spark
from utils.display_def import display

# Create a sample list of data
data = [
    ("Alice", 25),
    ("Bob", 30),
    ("Charlie", 35)
]

# Define column names
columns = ["Name", "Age"]

# Create DataFrame
df = spark.createDataFrame(data, columns).filter("Age > 28")
df.show()

In [4]:


# Show DataFrame content
display(df)

      Name  Age
0  Charlie   35
1      Bob   30